h1 {
    background-color: chocolate;
}

h2 {
    color: red;
}

.customstyle {
    color: tomato;
    font-family: cursive;
    font-style: italic;
}

button {
    font-size: large;
}

video, canvas {
    height: 240px;
    width: 320px;
}